.form {
    border-width: 1px;
    border-style: solid;
    border-top: 0px;
    border-color: #dddddd;
    padding-left: 10px;
    height: 100%;
    border-top-color: #dddddd;
}
.description{
    color: '#353535';
    line-Height: 2.2;
    font-Size: 20px;
    margin: 0;
    padding-top: 10px;
}
.react-tabs__tab-list {
    margin: 0px;
    padding: 0;
} 
.input-feedBack{
    width: 780px;
    padding-bottom: 120px;
}
.form-feedBackCage{
    border-color: rgb(141, 198, 63);
    border-width: 3px;
    border-style: solid;
    padding-left: 30px;
    margin-right: 30px;
    margin-left: 20px;
    height: 300px;
    margin-bottom: 20px;
}
.input-inFo{
    width: 300px;
    padding-bottom: 15px;
}
.button-feedBack{
    border-radius: 2px;
    background-color: #64be43;
    padding: 10px;
    width: 60px;
    color: white;
    font-weight: 700;
    text-align: center;
}


